.game {
  margin: 12px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
}
.main {
}
.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
}

.time {
  font-size: 1rem;
  color: white;
}

.progressBarBackground {
  width: 100%;
  background-color: #e2e8f0; /* light gray */
  border-radius: 4px;
  height: 10px;
  margin-bottom: 16px;
}

.progressBar {
  height: 10px;
  border-radius: 4px;
  background-color: #4299e1; /* blue */
}

.label {
  font-size: 40px;
  color: white;
  text-align: center;
  white-space: pre-wrap;
}

.word {
  margin: 40px;
  font-size: 1.875rem; /* 3xl */
}

.inputField {
  margin: 4px;
  display: none;
}
.miss {
  background: pink;
}

.resetButton {
  margin: 4px;
}

.keys {
  display: flex;
  flex-direction: row;
  white-space: pre;
  font-size: 30px;
  justify-content: center;
}

.typed {
  color: gray;
}

.excepted {
  color: white;
  display: flex;
  flex-direction: column;
}

.excepted.hidden {
  opacity: 0;
}
